.follow-all {
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
}

.profile-button {
    width: 6.5em;
    height: 2em;
    background-color: white;
    color:#fe2c55;
    border: 1px solid #fe2c55;
    font-size: 1em;
    /* padding: .5em 1.5em; */
    font-weight: bold;
    /* justify-content: space-between;  */
    outline: none;
    cursor: pointer;
    
}
.follow-all > button:hover {
    /* width: 8em;
    background-color: white;
    color:#fe2c55;
    border: 1px solid #fe2c55;
    font-size: 1em;
    padding: .5em 1.5em;
    font-weight: bold;
    justify-content: space-between;  */
}