.trademark {
    position: absolute;
    right: 0;
    padding-right: 1em;
    font-size: 1em;
    color: white;
}

.footer-all {
    display: flex;
    /* height: inherit; */
    /* flex-direction: row; */
    justify-content: space-evenly;
    align-items: center;
    height: 4.5em;
    width: 100%;
    background-color: black;
    /* align-items: center; */
    /* position: absolute; */
    /* bottom: 0; */
    
}