.nav-bar {
    /* padding: 0px 32px 0px 8px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    border-color: red;
    border-style: solid;
    /* margin: 40px; */
    flex-direction: row;
    
  
 }

 .nav-right button {
    background-color: #fe2c55;
    color: white;
    border-radius: 42px;
    cursor: pointer;
    border-style: solid;
    justify-content: flex-end;

 }

 .trending {
     font-size: 2vw;
 }

.nav-left  {
    width: 50px;
    display: flex;
    flex-direction: row;
    
}
.nav-left img{
    max-width:100%;
    height:auto;
}

header {
    position: absolute;
}
 