
 .nav-right button {
     /* justify-content: flex-end;
     align-items: center; */
     /* display: inline-block; */
    background-color: #fe2c55;
    border-radius:28px;
	border:1px solid #f31a45;
	/* display:inline-block; */
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1em;
	font-weight:bold;
	padding: .5em 1em;
    text-decoration:none;
 }


 .login-btn:hover {
    background-color: #e00c37;
 }

 .login-btn:active {
    position:relative;
    top: 1px;
 }



/* 
.mid-nav {
    display: flex;
    justify-content: center;
    align-items: center;
} */



.watchvids {
    font-size: 26px;
    font: bold;
}

.nav-mid h1:hover {
    transform: scale(1.24);
    font-weight: bolder;
    border-bottom: 3px solid #fe2c55;
}

.nav-all {
    height: 100%;
    width: 100%;
    background-color: mediumseagreen;
    display: flex;
    /* z-index: 1; */
}


.nav-left {
    height: 100%;
    width: 33.3%;
    background-color: orchid;
    display: flex;
    align-items: center;
    padding-left: 2em;
    /* justify-content: center; */
}

    .nav-left-inner {
        height: 100%;
        width: 100%;
        display: flex;
    }

    .logo-link{
        height: fit-content;
        width: fit-content;
        display: flex;
    }

    .logo {    
    height: 3.5em;
    }
    
    .yim-yum {

    }
    

.nav-mid {
    height: 100%;
    width: 33.3%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: palegoldenrod;
}

.nav-right {
    max-height: 100%;
    width: 33.3%;
    background-color: palegreen;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .user-nav {
        width: 90%;
        max-width: 25em;
        display: flex;
        justify-content: space-evenly;
    }

    .upload {
        height: 2em;
    }

