.prof-all {
    width: 100%;
    height: 100vh;
    background-color: white;
}


.prof-header {
    height: 5em;
    /* background-color: whitesmoke; */
     border-bottom: 1px solid #4d4d4d42;

}

.prof-body {
    height: 90%;
    /* background-color: wheat; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.prof-content {
    width: 50em;
    /* background-color: coral; */
    height: 90%;
}

.prof-info-all {
    /* height: 35%; */
    /* background-color: cornflowerblue; */
     /* border-bottom: 1px solid #4d4d4d42; */

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

    .prof-info-user {
        /* background-color: lightblue; */
        height: 50%;
        display: flex;
        align-items: center;
    }
        .prof-user-pic{
            width: fit-content;
            height: fit-content;
            /* background-color: lightcoral; */
            display: flex;
            justify-content: center;
        }
            .prof-pic {
                width: 7em;
                height: 7em;
                border-radius: 50%;
            }

        .prof-user-names {
            width: 100%;
            height: 100%;
            /* background-color: lightgoldenrodyellow; */
            display: flex;
            /* align-items: center; */
            flex-direction: column;
            padding-left: 1em;
            position: relative;
        }

            .prof-user-names > h2 {
                font-size: 1.75em;
                font-weight: bold;
            }
            .prof-user-names > h3 {
                font-size: 1em;
                font-weight: bold;

            }


        .edit-profile-button {
            position: absolute;
            top: 0;
            right: 0;
            padding: .5em;
            background-color: white;
            color:#fe2c55;
            border: 1px solid #fe2c55;
            font-size: 1em;
            font-weight: bold;
        }
    
    .prof-stats {
        height: 3em;
        /* background-color: lightgreen; */
        display: flex;
        /* justify-content: space-evenly; */
        /* flex-direction: row; */
        align-items: center;
        border-bottom: 1px solid #4d4d4d42;
        


    }

        .prof-stats > li {
            padding-right: 1em;
        }

    .prof-bio {
        height: 3em;
        /* background-color: lightgrey; */
        display: flex;
        /* flex-direction: row; */
        align-items: center;
        /* border-bottom: 1px solid #4d4d4d42; */
        
    }




.prof-vid-all {
    height: 65%;
    /* background-color: whitesmoke; */
}

    .prof-vid-header{
        height: fit-content;
        /* background-color: whitesmoke; */
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        border-bottom: 2px solid rgba(0, 0, 0, 0);
        transition-duration: 1s;
        
    }


        .prof-vid-header > span, img{
            display: flex;
            align-items: center;
            /* padding: .5em; */
            font-size: 1.5em;

        }

        /* .prof-vid-header:hover{
            border-bottom: 2px solid black;
            transition-duration: 1s;
        } */

    

    .prof-vid-body {
        height: 100%;
        background-color: whitesmoke;
         display: flex;
         /* justify-content: space-evenly; */
         /* align-items: center; */
    }

    .profile-grid {
    /* background-color: lavender; */
    display: flex;
    justify-content: center;
    width: fit-content ;
    height: fit-content;
    
}
.profile-items {
    /* background-color: lemonchiffon; */
    width: 42em;
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 1em;
    column-gap: 1em; */
    /* padding: 0 10%; */

}
    

    .profile-video {
        /* position: relative; */
        /* background-color: lawngreen; */
        width: fit-content;
        height: 17em;
        padding: 1em;
        /* width: fit-content; */
        /* width: initial;
        max-width: min-content; */
        /* object-fit: cover; */

    }

    .video {
        height: 100%;
        /* padding: 1em; */
    }



    .zero-video {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: whitesmoke;
        
    }
    .zero-video > p {
        font-size: 2.5em;
    }
    .zero-video > img {
        height: 5em;
    }




/*  ////////////////////////////// PROFILE EDIT ////////////////////////////////*/


.profile-edit-all {
    width: 100%;
    height: 100vh;
    /* background: lightblue; */
}

.profile-edit-body {
    height: 70%;
    /* background-color: wheat; */
    display: flex;
    justify-content: center;
    align-items: center;
}


    .profile-edit-form {
        height: 25em;
        background-color: whitesmoke;
        width: 40em;
        display: flex;
    }

        .edit-photo {
            height: 100%;
            width: 40%;
            /* background-color: whitesmoke; */
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
            .edit-profile-photo {
                /* height: 10em;
                width: 10em; */
                width: 90%;
                height: 80%;
                /* border-radius: 50%; */
                background-color: white;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
            }

                #pic-upload-btn {
                    display: none;
                }

                .pic-upload-button {
                     background-color: white;
                    color:#fe2c55;
                    border: 1px solid #fe2c55;
                    font-size: 1em;
                    padding: .5em 1em;
                    font-weight: bold;
                }

                .edit-profile-photo > img {
                height: 8em;
                width: 8em;
                border-radius: 50%;
                /* background-color: turquoise; */
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }


        
            .edit-content {
                height: 100%;
                width: 60%;
                /* background-color: azure; */
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                position: relative;
            }

                .edit-title {
                    font-size: 2em;
                    font-weight: bold;
                }

                .edit-fields {
                    width: 100%;
                    /* background-color: burlywood; */
                    display: flex;
                    height: 80%;
                    flex-direction: column;
                    /* justify-content: center; */
                }

                .edit-name {
                    width: 90%;
                    height: 5em;
                    /* background-color: white; */
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    
                }

                   .edit-name > input {
                    /* width: 100%;
                    height: 5em; */
                    background-color: white;
                    /* display: flex;
                    flex-direction: column;
                    justify-content: space-evenly; */
                    outline: none;
                    border: 1px solid #4d4d4d42;
                }

                .edit-name > h1 {
                    font-size: 1.5em;
                 }

                


            .edit-bio  {
                resize: none;
                 width: 90%;
                    height: 10em;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    margin-top: 1em;
            }

                .edit-bio > h1 {
                    font-size: 1.5em;
                }

                .edit-bio > textarea {
                    height: 5em;
                    resize: none;
                    background-color:white;
                    outline: none;
                    border: 1px solid #4d4d4d42;
                }


        .edit-button {
                 background-color: white;
                    color:#fe2c55;
                    border: 1px solid #fe2c55;
                    font-size: 1em;
                    padding: .5em 1em;
                    font-weight: bold;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    outline: none;
        }