.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.932);
    z-index: 1000;
    width: 100%;
    /* border: greenyellow 2px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-child {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* border: 2px rgb(148, 138, 138) solid; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; */
   background-color:rgb(255, 189, 189);
   height: 100%;
   width: 100%;

  }

.video-modal-all {
  /* border: 2px purple solid; */
  /* width: 1000px; */
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgb(65, 65, 65);

}

.video-modal-left {
  /* border: 2px red solid; */
  display: flex;
  /* max-width: 500px;
  max-height: 700px; */
  height: 100%;
  /* width:50%; */
/* justify-content: center;
align-items: center; */
flex-direction: column;
/* background-color: lightcoral; */
}


    #closeVidModal {
      position: absolute;
      width: 4%;
      height: 4%;
      top: 0;
      left: 0;
      /* padding: .3em; */
      font-size: 2em;
      border-radius: 50%;
      margin-left: 2em;
      margin-top: 1em;
      outline: none;
      border: none;
      /* padding: .5em; */
      color: rgba(255, 255, 255, 0.575);
      background-color: rgba(88, 88, 88, 0.534);
      cursor: pointer;
      transition: 1s;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
    }

    .closeVidModal:hover {
      background-color: rgba(172, 172, 172, 0.534);
      color: rgb(255, 255, 255);
      transition: 1s;

    }


  .video-modal-video {
    display: flex;
    height: 100%;
    width: fit-content;
    /* height: 100%; */
    /* height: fit-content; */
    justify-content: center;
    align-items: center;
  /* background-color: rgb(119, 203, 236); */
  }

  .vid {
    /* width: 17em; */
    height: 50em;
    outline: none;
    cursor: pointer;
  }

.video-modal-right {
  height:  50em;
  width: 35em;
  display:flex;
  flex-direction: column;

  background-color: white;
}
/* .vModal-right-content {
  height: 90%;
  width: 35em;
  display:flex;
  flex-direction: column;
  background-color: rgb(199, 255, 236);
} */

  .vModal-user {
      background-color: white;
      height: 6em;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 2em 1em 0 1em;
      position: relative;
  }
    
      .vModal-user-pic {
          width: 6em;
          height: 6em;
          border-radius: 50%;
          /* background-color: teal; */
          display: flex;
          justify-content: center;
          align-items: center;
      }

      .vModal-user-pic > img {
        height: 90%;
        border-radius: 50%;
        /* padding-left: 0.5em */
      }
      
      .vModal-user-details {
          width: 100%;
          display: flex;
          justify-content: space-between; 
          align-items: center;
          padding-left: 1em;
      }

          .vModal-user-info {
              display: flex;
              flex-direction: column;
              height: 100%;
          }

          .vModal-user-info > a > h1 {
           font-size: 1.5em;
          }
          .vModal-user-info > a > h2 {
           font-size: 1em;
          }




            .vModal-user-details > button {
          background-color: white;
          color:#fe2c55;
          border: 1px solid #fe2c55;
          font-size: 1em;
          padding: .5em 1.5em;
          font-weight: bold;
          justify-content: space-between; 
          /* margin-right: 1em; */
          }

      .vModal-vidStats {
        /* background-color: cadetblue; */
        background-color: white;
        display: flex;
        height: 3em;
        /* width: 100%; */
        align-items: center;
        /* justify-content: space-evenly; */
        margin-left: 1em;
        margin-right: 1em;
        border-bottom: 1px solid #4d4d4d42;
        
      }

        .vModal-vidStats > img {
          height: 70%;
          
        }

      
      
      .vModal-caption {
        margin-left: 1em;
        margin-right: 1em;
        /* background-color: chartreuse; */
        background-color:white;
        height: 3em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 0.5em;
      }



      .vModal-comments {
        margin-left: 1em;
        margin-right: 1em;
        height: 100%;
        /* background-color: rgb(255, 68, 0); */
        background-color: white;
        display:flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
      }
      