.video-form-all {
    width: 100%;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}


.video-form-body {
    display: flex;
    /* justify-content: center;
    vertical-align: middle; */
    /* align-self: center; */
    border: 2px black solid;
    width: 1200px;
    height: 90%;
    flex-direction: row;
    /* justify-content: space-between; */
    margin-top: 200px;

}

.video-form-left {
    border: 2px red solid;
    width: 300px;
    height: 100%;
}

.upload-field {
    width: 100%;
    background-color: gray;
    height: 400px;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

.video-form-right {
    border: 2px red solid;
    width: 100%;
    height: 600px;

}


.inner-form {
    width: 100%;
    border: 2px solid green;
    height: 500px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 28px;
    font-weight: bold;
}

.inner-form input {
    margin-left: 10px;
    width: 400px;
    height: 40px;
    font-size: 20px;
}

.upload-buttons {
    display: flex;
    justify-content: flex-end;
    border: 2px blue solid;
    align-items: flex-end;
    margin-right: 40px;
}

.upload-btn {
    justify-content: flex-end;
    align-items: center;
    display: inline-block;
   background-color: #fe2c55;
   border-radius:28px;
   border:1px solid #f31a45;
   display:inline-block;
   cursor:pointer;
   color:#ffffff;
   font-family:Arial;
   font-size:18px;
   font-weight:bold;
   padding:10px 25px;
   text-decoration:none;
}