.video-all {
    width: 100vw;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;

}

.trending-container {
    width: 100vw;
    margin-top: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    background-color: white;

}

.trending-left {
    display: flex;
    flex-direction: column;
    /* background-color: teal; */
    overflow: auto;
}

.trending-title {
    max-height: 100%;
    display: flex;
    flex-direction: column;
}
.trending-title h1 {
    font-size: 57px;
    font-weight: bold;
}
.trending-title p {
    font-size: 18px;
    color: #8a8b91;
    
}

.trending-right {
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 50px;
    width: 300px;
}

/* .suggested-accts { */
    /* background-color: yellow; */
    /* border: 1px solid rgba(22,24,35,0.12);
    border-radius: 8px;
    height: 380px;
    padding-right: 4px;
    display: flex;
    flex-direction: column;
    width: 330px;
    position: fixed;
    margin-top: 200px;
} */

/* .sugg-header {
    font-size: 24px;
    font-weight: bold;
} */

/* .discover {
    background-color: tomato;
    width: 100px;
    height: 300px;
    border: 1px solid black;
} */




.video-body {
    display: flex;
    /* justify-content: center;
    vertical-align: middle; */
    /* align-self: center; */
    /* border: 2px black solid; */
    width: 100%;
    height: 100%;
    max-width: 900px;
    flex-direction: row;
    /* justify-content: space-evenly; */
    /* margin-top: 200px; */
    flex-wrap: wrap;
 
    margin-top: 30px;
}

.videos {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}


.video {
    width: 254px;
    height: 380px;
    display: flex;
    margin: 10px;
    /* border: 2px red solid; */
    justify-content: center;
    align-items: center;
    align-self: center;
    /* overflow: auto; */
    flex-wrap: wrap;

}

.video video{
    /* overflow: auto; */
    max-height: 100%;
    resize: both;
    display: flex;
    flex-wrap: wrap;
    border-radius: 40px;
}