.vIndex-all {
    width: 100%;
    height: 100vh;
    display:flex;
    /* align-items: center;
    justify-content: center; */
    flex-direction: column;
    background-color: white;

}

.vIndex-header {
    width: 100%;
    height: 5em;
}

.vIndex-body {
    display: flex;
    /* min-height: 40em; */
    height: fit-content;
    flex-direction: row;
    /* justify-content: center;
    vertical-align: middle; */
    background-color: rgb(114, 213, 251);

}

    .vIndex-left {
        min-width: 12em;
        height: fit-content;
        display: flex;
        flex-direction: column;
        background-color: teal;
        /* overflow: auto; */
    }
        .vIndex-nav {
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
            background-color: thistle;
            padding-top: 2em;
            
        }



             .nav-foryou {
            display: flex;
            align-items: center;
            /* justify-content: center; */
            background-color: rgb(83, 141, 228);
            font-size: 1.5em;
            padding-left: .5em;
            }
             .nav-follow {
            display: flex;
            align-items: center;
            /* justify-content: center; */
            background-color: rgb(147, 218, 115);
            font-size: 1.5em;
            padding-left: .5em;
            }


        .vIndex-follow {
            display: flex;
            height: 10em;
            flex-direction: column;
            justify-content: space-evenly;
            background-color: lightblue;
            padding-left: 1em;

        }

            .top-accounts {
               font-size: 16px;
               color: #161823; 
               opacity: 50%;
               /* padding-left: 1em; */
               
            }

            .follow-accts {
                /* height: 2em; */
                /* padding-left: 1em; */
                display: flex;

            }
                .follow-pic {
                    width: 2.5em;
                    border-radius: 50%;
                    background-color: mediumorchid;
                }
                .follow-info {
                    padding-left: .5em;
                }
            
            .see-all {
                display:  flex;
                font-size: 1em;
                font-weight: bold;
                color:#fe2c55;
                /* padding-left: 1em; */


            }

    
        /* .vIndex-mid {

        } */

        
    
        .video-body {
            background-color: lightgreen;
            width: 42em;
            justify-content: center;
        }

            .index-all { 
                background-color: lightcoral;
                height: fit-content;
                width: 30em;
                padding: 2em;
                border-bottom: 1px solid whitesmoke;
            }

            .index-header {
                background-color: lightsteelblue;
                height: 6em;
                display: flex;
            }

                .index-user-pic {
                    width: 6em;
                    height: 6em;
                    border-radius: 50%;
                    background-color: teal;
                }
                
                .index-user-details {
                    width: 100%;
                    display: flex;
                    justify-content: space-between; 
                    align-items: center;
                    padding-left: 1em;
                }

                    .index-user-info {
                        display: flex;
                        flex-direction: column;
                        
                        
                    }


                     .index-user-details > button {
                    background-color: white;
                    color:#fe2c55;
                    border: 1px solid #fe2c55;
                    font-size: 1em;
                    padding: .5em 1.5em;
                    font-weight: bold;
                    justify-content: space-between; 
                    }


            .index-body {
                background-color: tomato;
                height: fit-content;
            }

                .index-caption {
                    height: 3em;
                    background-color: turquoise;
                }

                .index-video {
                height: 30em;
                }

                .index-actions {
                    background-color: yellow;
                    width: 40%;
                    height: 3em;
                    display: flex;
                    justify-content: space-evenly;
                }



        .vIndex-footer {
            height: 5em;
        }
/* .trending-right {
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
} */

/* .suggested-accts { */
    /* background-color: yellow; */
    /* border: 1px solid rgba(22,24,35,0.12);
    border-radius: 8px;
    height: 380px;
    padding-right: 4px;
    display: flex;
    flex-direction: column;
    width: 330px;
    position: fixed;
    margin-top: 200px;
} */

/* .sugg-header {
    font-size: 24px;
    font-weight: bold;
} */

/* .discover {
    background-color: tomato;
    width: 100px;
    height: 300px;
    border: 1px solid black;
} */


/* 

.video-body {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 900px;
    flex-direction: row;
    flex-wrap: wrap;
 }

.videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.video {
    width: 254px;
    height: 380px;
    display: flex;
    margin: 10px;
    border: 2px red solid;
    justify-content: center;
    align-items: center;
    align-self: center;
    overflow: auto;
    flex-wrap: wrap;
    

}

.video video{
    overflow: auto;
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 40px;
    
}
.video:hover{
    overflow: auto;
  cursor: pointer;
    
} */